/* custom.css */
<style>
  .reveal .controls {
    visibility: hidden;
  }
  .reveal .playback {
    visibility: hidden;
  }
  .notes .reveal .controls {
    visibility: visible;
  }
  .notes .reveal .playback {
    visibility: visible;
  }
</style>
